<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtylD3Hx7-_reUtxBPeyH_WEpCIttJDoA</string>
	<key>GCM_SENDER_ID</key>
	<string>994993830127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>final-project-011x</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-011x.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994993830127:ios:b91a88c5937ac403c5831a</string>
	<key>DATABASE_URL</key>
	<string>https://final-project-011x-default-rtdb.firebaseio.com</string>
</dict>
</plist>